@media (max-width: 575.98px) {
  .setPassword {
    .row {
      .col-lg-6 {
        margin: 3vh 0;
        img {
          width: 60vh;
          display: none;
        }
        .form-group {
          label {
            color: gold;
            font-size: 22px;
          }
        }
        .btn {
          background-color: #007bff;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .setPassword {
    .row {
      .col-lg-6 {
        margin: 3vh 0;
        img {
          width: 60vh;
          display: none;
        }
        .form-group {
          label {
            color: gold;
            font-size: 22px;
          }
        }
        .btn {
          background-color: #007bff;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .setPassword {
    .row {
      .col-lg-6 {
        margin: 3vh 0;
        form {
          width: 85%;
          margin: auto;
        }
        img {
          width: 60vh;
          display: none;
        }
        .form-group {
          label {
            color: gold;
            font-size: 22px;
          }
        }
        .btn {
          background-color: #007bff;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .setPassword {
    .row {
      .col-lg-6 {
        margin: 5vh 0;
        img {
          width: 60vh;
        }
        .form-group {
          label {
            color: gold;
            font-size: 22px;
          }
        }
        .btn {
          background-color: #007bff;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .setPassword {
    .row {
      .col-lg-6 {
        margin: 5vh 0;
        img {
          width: 60vh;
        }
        .form-group {
          label {
            color: gold;
            font-size: 22px;
          }
        }
        .btn {
          background-color: #007bff;
          width: 100%;
        }
      }
    }
  }
}
