/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: relative;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, black 50%);
}
